/**
  * General styles that apply to all views go here
  */


body {
  scroll-behavior: smooth;
  min-width: 320px;
}

#scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;

  z-index: 100;

  display: none;
  opacity: 0;



  &.show {
    display: block;
    opacity: 0.3;
  }
}

.container {
  @media #{$large-and-up} {
    width: 85%;
  }
}

// Navbar

$logo-padding-v: 4px;
$logo-padding-h: 16px;

.nav-wrapper {
  .brand-logo {
    padding-top: $logo-padding-v;
    padding-bottom: $logo-padding-v;
    padding-left: $logo-padding-h;
  }
  .brand-logo > * {
    float: left;
  }

  .brand-logo > img, .brand-logo > object {
    @include nav-height(-($logo-padding-v * 2));
    pointer-events: none;
  }

  $search-btn-width: 54px;

  .search-btn-container {
    position: absolute;
    top: 0;
    right: 0;
    @media #{$large-and-up} {
      position: relative;
      top: auto;
      right: auto;
      display: inline-block;
    }
  }

  .whatsapp {
    position: absolute;
    top: 0;

    display: none;
    @media  #{$medium-and-up} { display: block; }

    right: $search-btn-width;
    @media #{$large-and-up} { right: 0; }

    a {
      font-size: 24px !important;
    }
  }
}

.nav-wrapper > ul#nav-mobile {
  @include clearfix;
  width: auto;
  display: inline-block;
  padding-left: 59px;  // Initial estimate, overriden by js
  & > li {
    @media #{$medium-and-down} {
      display: none;
    }
  }
  & > .search {
    display: block;
    float: right;
    & > a {
      padding-left: 0;
      padding-right: 0;
      @include nav-height;

      input[type="search"] {
        width: 0;
      }
    }
    &.show {
      width: 100%;
      left: 0;
      top: 0;
      position: absolute;
      z-index: 10;

      input[type="search"] {
        width: 100%;
      }
    }
  }
}

nav ul a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

// Breadcrumbs

$black-text: rgba(0, 0, 0, 0.87);

a.breadcrumb {
  color: #039be5 !important;
}

.breadcrumb {
  font-size: 12px;
  @media #{$medium-and-up} { font-size: 16px; }
  @media #{$large-and-up} { font-size: 18px; }

  vertical-align: baseline;
  line-height: 48px;
  color: $black-text !important;
  &::before {
    color: $black-text;
    @media #{$small-and-down} {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

// Search bar

nav {
  .search-bar {
    position: absolute;
    @include nav-height;
    width: 100%;
    top: 0;
    left: 0;
    background-color: color("shades", "white");
    z-index: 100;

    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in;

    &.show {
      opacity: 1;
    }
  }
}

footer {
  h5, h6 {
    @include title-font;
  }
  .footer-contact {
    margin-left: 0 !important;
    padding-left: $logo-padding-h !important;
  }
  .footer-map {
    padding-right: $logo-padding-h !important;
    margin-right: 0 !important;
    @media #{$medium-and-down} {
      margin-left: 0 !important;
      padding-left: $logo-padding-h !important;
    }
  }

  .map {
    width: 100%;
    height: 250px;
    border: 0;
  }
  .sub-contact {
    display: block;
    .sub-icon {
      height: 100%;
      display: inline-block;
      vertical-align: top;
      padding-top: 12px;
      i { font-size: 36px; }
    }
    .sub-text {
      height: 100%;
      width: calc(100% - 54px);
      display: inline-block;
      h5, h6 {
        font-size: 24px;
        margin-bottom: 16px;
      }
      p {
        margin: 2px 0;
        font-size: 24px;
      }
    }
  }
  .footer-copyright {
    padding-left: $logo-padding-h !important;
  }
}
