
// Responsive height of the navbar
@mixin nav-height {
  height: $navbar-height-mobile;
  @media #{$medium-and-up} {
    height: $navbar-height;
  }
}

// Easy clearfix without applying more classes to the html
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Truncate text with ellipsis
@mixin truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
