
// Responsive height of the navbar
@mixin nav-height($modificator: 0) {
  height: $navbar-height-mobile + $modificator;
  @media #{$medium-and-up} {
    height: $navbar-height + $modificator;
  }
}

// Easy clearfix without applying more classes to the html
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Truncate text with ellipsis
@mixin truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin title-font {
  font-family: "EB Garamond", serif;
}
