.nav-wrapper .brand-logo > img {
  height: 56px;
}

@media only screen and (min-width: 601px) {
  .nav-wrapper .brand-logo > img {
    height: 64px;
  }
}

.nav-wrapper > ul {
  width: 100%;
  padding-left: 250px;
}

.nav-wrapper > ul:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 992px) {
  .nav-wrapper > ul > li {
    display: none;
  }
}

.nav-wrapper > ul > .search {
  display: block;
  float: right;
}

.nav-wrapper > ul > .search > a {
  padding-left: 0;
  padding-right: 0;
  height: 56px;
}

@media only screen and (min-width: 601px) {
  .nav-wrapper > ul > .search > a {
    height: 64px;
  }
}

.nav-wrapper > ul > .search > a input[type="search"] {
  width: 0;
}

.nav-wrapper > ul > .search.show {
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 10;
}

.nav-wrapper > ul > .search.show input[type="search"] {
  width: 100%;
}

nav ul a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

