html.home {


.about {
  h2, p {
    @include title-font;
  }

  h2 {
    font-size: 48px;
    @media #{$medium-and-up} { font-size: 52px; }
    @media #{$large-and-up}  { font-size: 56px; }
  }

  p {
    font-size: 28px;
    @media #{$medium-and-up} { font-size: 36px; }
    @media #{$large-and-up}  { font-size: 42px; }
  }

  .parallax-container {
    height: 350px;
  }
  .about-text {
    color: white;
    text-align: center;
  }
}

#categories {

  h3 {
    text-align: center;
    @include title-font;
  }

  $card-transition: all 0.2s ease-out;

  a {
    color: black;
  }

  .card-title {
    text-align: center;
  }

  .subcategory-container {
    display: none;

    opacity: 0;
    width: 650px;
    height: 260px;
    transform: scaleX(0) scaleY(0);
    transform-origin: top left;

    transition: $card-transition;

    .card {
        overflow: hidden;
        height: 0;
    }

    .card-content {
      padding: 8px 16px;
      margin: 0;
    }
  }

  .card.card-outer {
    transition: $card-transition;

    & > .card-image, & > .card-image img {
      transition: $card-transition;
      opacity: 1;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
    }

    & > .card-content {
      @media #{$small-and-down} {
        padding: 8px;
      }
      & > .card-title {
        @include truncate;
      }
    }

  }

  .card-content {
    border-top: 1px solid rgba(0,0,0,0.2);
  }


  .card.card-outer.expanded {
    position: fixed !important;
    top: 50vh !important;
    left: 0 !important;
    width: 100% !important;
    height: 370px !important;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;

    @media #{$medium-and-up} {
      left: 50vw  !important;
      transform: translateX(-50%) translateY(-50%);
      width: 90%  !important;
      height: 430px !important;
    }

    @media #{$large-and-up} {
      width: 85%  !important;
      height: 440px !important;
    }

    & > .card-image, & > .card-image img {
      width: 0;
      opacity: 0;
      left: 0;
      top: 0;
      right: auto;
    }

    & > .card-content {
      border-top-width: 0;
    }

    .subcategory-container {
      display: block;
      @media #{$medium-and-up} {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      transform: scaleX(1) scaleY(1);
      width: 100%;
      height: 270px;
      opacity: 1.0;

      padding-left: 16px;
      padding-right: 16px;

      .inner-card-wrapper {
        padding-left: 8px;
        padding-right: 8px;
        @media #{$small-and-down} {
          display: inline-block;
          height: 64px;
          width: calc(50% - 8px);
          padding: 0;

          .card-content {
            border-top-width: 0;
          }
        }
      }

      @media #{$small-and-down} {
        @for $i from 1 through 4 {
          .inner-card-wrapper:first-child:nth-last-child(#{$i}),
          .inner-card-wrapper:first-child:nth-last-child(#{$i}) ~ div {
            width: 100%;
          }
        }
      }

      a {
        display: block;
        z-index: 200;
      }

      .card {
        @media #{$small-and-down} {
          img {
            display: none;
          }
          height: 100%;
          width: 100%;
          display: inline-block;
          .card-title {
            @include truncate;
            font-size: 16px;
            margin: 0;
          }

          margin-top: 2px;
          margin-bottom: 2px;
        }

        @media #{$medium-and-up} {
          height: 320px;
          max-width: 240px;
        }
        @media #{$large-and-up} {
          height: 320px;
          max-width: 250px;
        }
      }
    }
  }

}

#contact {
  .parallax-container {
    padding-top: 48px;
    height: auto;
  }

  .row {
    margin-bottom: 0;
    padding-bottom: 24px;
  }

  .card-panel.white {
    padding-left: 24px;
    padding-right: 24px;
  }

  .title h4 {
    text-align: center;
    margin-top: -36px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: $secondary-color;
    color: color("shades", "white");
    @include title-font;
  }

  form .col {
    margin-top: 8px;
    margin-bottom: 8px;
  }

}

} // html.home
