html.item {

$black-text: rgba(0, 0, 0, 0.87);

a.breadcrumb {
  color: #039be5;
}

.breadcrumb {
  font-size: 12px;
  @media #{$medium-and-up} { font-size: 16px; }
  @media #{$large-and-up} { font-size: 18px; }

  vertical-align: baseline;
  line-height: 48px;
  color: $black-text;
  &::before {
    color: $black-text;
    @media #{$small-and-down} {
      margin-right: 0;
      margin-left: 0;
    }
  }
}


.thumbs {
  width: 100%;
  .thumb-img {
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.descr {
  h3 { margin-top: 8px; }
}


} // html.item
