html.item {


.thumbs {
  width: 100%;
  .thumb-img {
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.descr {
  h3 { margin-top: 8px; }
}

.slider {
  .slides {
    background-color: #fff;
  }
}


} // html.item
