html.search {

.category-list {
  .collapsible-body {
    padding: 0;
  }

  .collapsible-header {
    background-color: $primary-color-dark;
    color: white;
  }
}


.results {
  @media #{$small-and-down} {
    .card-content {
      padding: 8px;
    }
    .card-title {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .masonry-item {
    padding-left: 8px;
    padding-right: 8px;
  }

  a {
    display: block;
    color: initial;
  }

}


} // html.search
