html.search {

.category-list {
  .collapsible-body {
    padding: 0;
  }

  .collapsible-header {
    background-color: $primary-color;
    color: white;
  }

  li {
    .expand-icon {
      margin-left: auto;
      vertical-align: middle;
    }
    .on-active { display: none; }
    .on-inactive { display: inline; }
  }

  li.active {
    .on-active { display: inline; }
    .on-inactive { display: none; }
  }
}


.results {
  .card {
    opacity: 0.8;
    transition: opacity 0.5s, box-shadow 0.25s;
    &:hover {
      opacity: 1;
    }
  }
  @media #{$small-and-down} {
    .card-content {
      padding: 8px;
    }
    .card-title {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .masonry-item {
    padding-left: 8px;
    padding-right: 8px;
  }

  a {
    display: block;
    color: initial;
  }

}


} // html.search
